<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<main>
    <h1>About</h1>
    <article>
<header>
            <h3>Who am I?</h3>
            <p>I am a computer engineer student at the University of the Universe.</p>
            <ul>
                <li><a href = "index.html">Home</a></li>
                <li><a href = "about.html">About</a></li>
                <li><a href = "contact.html">Contact</a></li>
            </ul>
        </header>
        <main>
            <section>
                <h4>Education</h4>
                <p>I am currently studying computer engineering at the University of the Universe.</p>
            </section>
            <section>
                <h4>Work</h4>
                <p>I am currently working as a computer engineer at the University of the Universe.</p>
            </section>
        </main>
    </article>
    <article>
<header>
            <h3>What do I do?</h3>
            <p>I am a computer engineer student at the University of the Universe.</p>
        </header>
        <main>
            <section>
                <h4>Education</h4>
                <p>I am currently studying computer engineering at the University of the Universe.</p>
            </section>
            <section>
                <h4>Work</h4>
                <p>I am currently working as a computer engineer at the University of the Universe.</p>
            </section>
        </main>
    </article>
</main>
<footer>
    <p>Created by: Romia</p>
</footer>

</body>
</html>