<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel = "stylesheet" type = "text/css" href = "style1.css">
</head>
<body>
<header>
    <h1>The Legend, the one and only: ROMIA </h1>

</header>
    <nav>
        <ul>
            <li><a href = "index.html">Home</a></li>
            <li><a href = "about.html">About</a></li>
            <li><a href = "contact.html">Contact</a></li>
        </ul>
    </nav>
<main>
        <ul>
        <li>Undefeated</li>
        <li>Computer Engineer</li>
        <li>Master of the Universe</li>
    </ul>
    <ol>
        <li>Stay Awake</li>
        <li>Be the best</li>
        <li>Never give up</li>
        <li>Read</li>
    </ol>
    <article>
        <header>
        <h3>The 6th semester midterm</h3>
        <p>It was a tough one, but I managed to get through it.</p>
         </header>
        <main>
            <section>
                <h4>Midterm</h4>
                <p>It was a tough one, but I managed to get through it.</p>
            </section>
        </main>


    </article>
</main>
<button onclick="alert('Hello World!')"><img src="img1.png"
                                             alt="Submit the form" height="941" width="1225"></button>
<input type="checkbox" id="dog" name = "dog" value = "Dog">
<label for="dog">I like dogs</label>
<input type="checkbox" id="cat" name="cat" value="Cat">
<label for="cat">I like cats</label>
<input type="radio" id="light" name="theme" value="Light">
<label for="light">Light</label>
<input type="radio" id="dark" name="theme" value="Dark">
<label for="dark">Dark</label><br>
<form action="about.html">
<label for="fname">"First Name</label>
<input type="text" id="fname" name="fname"><br>
<label for="pwd">Password</label>
<input type="password" id="pwd" name="pwd"><br>
<button type="submit" onclick="alert('hello nigga')">Submit</button><br>
</form>
<footer>
    <p>Created by: Romia</p>
</footer>

</body>
</html>
